@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.contents__inner {
  clear: both;
}

p {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  word-break: break-all;
}

.imgleft {
  margin: 0 20px 10px 0;
  padding: 0;
  float: left;
}

.imgright {
  float: right;
  margin: 0 0 10px 20px;
  padding: 0;
}
/* 回答はここに書いてね */
