@charset "UTF-8";

/* 回答はここに書いてね */

.cf {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
}

.contents__box {
  width: 100px;
  height: 100px;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}

.conte {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ecf1f2;
}

.box1 {
  background-color: #ffefd3;
  left: 200px;
  top: 40px;
}

.box2 {
  background-color: #7084de;
  left: 280px;
  top: 120px;
}

.box3 {
  background-color: #d0ecea;
  left: 360px;
  top: 200px;
}

.box4 {
  background-color: #8b7a5e;
  left: 280px;
  top: 280px;
  z-index: 1;
}

.box5 {
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 2;
}

.box6 {
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 3;
}

.box7 {
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 4;
}

.box8 {
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 5;
}

.box8:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  content: "";
}

.box9 {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
